@import 'mixins.scss';

$main-color: #cccccc;
$main-shadow: #2C7DA1;

$highlight-color: #DED7BE;
$highlight-shadow: #795516;

$inactive-color: #BBBBBB;
$inactive-shadow: #323232;
$inactive-background: rgba(0, 0, 0, 0.3);

$error-color: #ffcdd2;
$error-shadow: #fc5161;