<div class="player-bars">
    <div *ngFor="let player of players" class="player" [ngClass]="player.class || player.name" data-test-class="player-bar">
        <div class="player-background">
            <div class="player-background-solid" [style.width]="player.dpsPercent + '%'" data-test-id="player-bar-background"></div>
            <div class="player-background-fade"></div>
        </div>
        <div class="player-foreground">
            <div class="player-table-field dps-container flex-15">
                <p [ngClass]="{ 'main-player': isMainPlayer(player) }" class="dps-value" data-test-id="player-bar-dps">{{ player.dps }}</p>
            </div>
            <div class="flex-30">
                <div class="player-class-icon">
                    <icon [iconName]="player.class || player.name" [iconSize]="2.4" data-test-id="player-bar-icon"></icon>
                </div>
                <div class="player-detail-row">
                    <p class="player-table-text" [ngClass]="{ 'main-player': isMainPlayer(player) }" data-test-id="player-bar-name">{{ player.name }}</p>
                </div>
                <div class="player-detail-row">
                    <p class="player-table-text" data-test-id="player-bar-maxhit">{{ player.maxhit || 'N/A' }}</p>
                </div>
            </div>

            <div class="flex-15">
                <div class="player-icon-row">
                    <icon iconName="DPS" [iconSize]="1"></icon>
                    <p class="player-table-text" data-test-id="player-bar-totaldamage">{{ player.damageFormatted }}</p>
                </div>
                <div class="player-icon-row">
                    <icon iconName="heal" [iconSize]="1"></icon>
                    <p class="player-table-text" data-test-id="player-bar-healing">{{ player.hps }} ({{ player.overhealPercent }})</p>
                </div>
            </div>
            <div class="flex-15">
                <div class="player-icon-row">
                    <icon iconName="death" [iconSize]="1"></icon>
                    <p class="player-table-text" [ngClass]="{ 'text-red': player.deaths > 0 }" data-test-id="player-bar-deaths">{{ player.deaths }}</p>
                </div>
                <div class="player-icon-row">
                    <icon iconName="crit" [iconSize]="1"></icon>
                    <p class="player-table-text" data-test-id="player-bar-crits">{{ player.directHitPercent }} | {{ player.critPercent }} |
                        {{ player.critDirectHitPercent }}</p>
                </div>
            </div>
        </div>
    </div>
</div>