<div class="player-pills">
    <div class="player" *ngFor="let player of players" [ngClass]="player.class">
        <div class="player-background">
            <div class="player-background-solid"></div>
        </div>
        <div class="player-foreground">
            <div class="dps-container flex-15">
                <p [ngClass]="{ 'main-player': isMainPlayer(player) }" class="dps-value">{{ player.dps }}</p>
            </div>
            <div class="flex-30">
                <div class="player-class-icon">
                    <icon [iconName]="player.class" [iconSize]="2.4"></icon>
                </div>
                <div class="ellipsis-overflow">
                    <p [ngClass]="{ 'main-player': isMainPlayer(player) }">{{ player.name }}</p>
                </div>
                <div class="ellipsis-overflow">
                    <p>{{ player.maxHitAmount | abbreviateNumber }} - {{ player.maxHitName }}</p>
                </div>
            </div>
        </div>
    </div>
</div>