.player-table-text {
	margin-left: 5px;
}

.player-table-field {
	font-size: 13px;
}

.dps-container {
	text-align: center;
}

.dps-value {
	font-size: 32px;
	line-height: 1;
}

.player-table-row {
	padding: 2px 0;
}