<div class="player-table-row" [ngClass]="player.class || player.name" [style.background-size]="player.dpsPercent + '% auto'">
    <div class="player-table-field dps-container flex-15">
        <p [ngClass]="{ 'main-player': player.isMainPlayer() }" class="dps-value">{{ player.dps }}</p>
    </div>
    <div class="player-table-field flex-30">
        <icon [iconName]="player.class || player.name" iconSize="35" float="left" margin="-1px"></icon>
        <div><p class="player-table-text" [ngClass]="{ 'main-player': player.isMainPlayer() }">{{ player.name }}</p></div>
        <div><p class="player-table-text">{{ player.maxhit || 'N/A' }}</p></div>
    </div>
    <div class="player-table-field flex-15">
        <div><icon iconName="GLA" iconSize="15" margin="-2px"></icon><p class="player-table-text">{{ player.damageFormatted }}</p></div>
        <div><icon iconName="heal" iconSize="15" margin="-2px"></icon><p class="player-table-text">{{ player.hps }} ({{ player.overhealPercent }})</p></div>
    </div>
    <div class="player-table-field flex-15">  
        <div><icon iconName="crit" iconSize="15" margin="-2px"></icon><p class="player-table-text">{{ player.directHitPercent }} | {{ player.critPercent }} | {{ player.critDirectHitPercent }}</p></div>
        <div><icon iconName="death" iconSize="15" margin="-3px"></icon><p class="player-table-text" [ngClass]="{ 'text-red': player.deaths > 0 }">{{ player.deaths }}</p></div>
    </div>
</div>