@import '../styles/mixins.scss';
@import '../styles/colors.scss';

.overlay-container {
	padding: 5px;
	background: $inactive-background;
	height: 100%;
	z-index: -1000;
}

hr {
	margin-top: 2px;
	margin-bottom: 2px;
	color: $main-color;
}

.overlay-header-container {
	justify-content: flex-start;
	display: flex;
	flex-wrap: wrap;
}

.overlay-header-group {
	margin-right: auto;
}

.overlay-header-group-right {
	margin-left: auto;
	margin-top: -2px;
	justify-self: flex-end;
}

.overlay-header {
	margin-right: 1em;
}

.overlay-header-label {
	@include ffxiv-text($highlight-color, $highlight-shadow);
	font-weight: 300;
	white-space: nowrap;
	margin-right: 0.25em;
}
