@import '../styles/mixins.scss';
@import '../styles/colors.scss';

.overlay-container {
	padding: 5px;
	background: $inactive-background;
	height: 100%;
	z-index: -1000;
}

hr {
	margin-top: 2px;
	margin-bottom: 2px;
	color: $main-color;
}

.overlay-header {
	font-size: 1em;
}

.overlay-header-group {
	display: inline;
}

.overlay-header-group-right {
	float: right;
	margin-top: -3px;
	margin-right: 1px;
}

.overlay-header-label {
	@include ffxiv-text($highlight-color, $highlight-shadow);
	font-weight: 300;
	white-space: nowrap;
}

.overlay-options {
	float: right;
}
