@import '../styles/mixins.scss';

.option-title {
    margin-right: 5px;
}

.option-selection {
    margin-right: 5px;
}

.option.active {
    @include ffxiv-text(#DED7BE, #795516);
}

.options-container {
    text-align: center;
}

.option-container {
    margin-top: 10px;
}

.option-number {
    max-width: 50px;
    text-align: center;
    font-size: 1em;
}

.option-button {
    font-size: 1em;
}