$player-row-alpha: 0.5;

@mixin player-row-background($r, $g, $b) {
    .player-background {
        height: 100%;
        width: 100%;
        display: flex;

        .player-background-solid {
            background-color: rgba($r, $g, $b, $player-row-alpha);
            height: 100%;
        }

        .player-background-fade {
            background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7),
                linear-gradient(to right, rgba($r, $g, $b, $player-row-alpha) 0%, rgba(0, 0, 0, 0) 100%);
            background-repeat: repeat-y;
            height: 100%;
            width: 3%;
        }
    }
}