.overlay-header-label {
	color: #DED7BE;
	text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
	font-weight: 300;
	white-space: nowrap;
}

.overlay-container {
	background: rgba(0, 0, 0, 0.1);
}

hr {
	margin-top: 2px;
	margin-bottom: 2px;
}