* {
    font-family: Helvetica, Arial, sans-serif;
	color: #cccccc;
	text-shadow: -1px 0 3px #2C7DA1, 0 1px 3px #2C7DA1, 1px 0 3px #2C7DA1, 0 -1px 3px #2C7DA1;
	font-weight: 300;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

p {
	display: inline;
}

a {
	color: #BBBBBB;
	text-shadow: -1px 0 2px #323232, 0 1px 2px #323232, 1px 0 2px #323232, 0 -1px 2px #323232;
}

a:hover {
	color: #cccccc;
	text-shadow: -1px 0 3px #2C7DA1, 0 1px 3px #2C7DA1, 1px 0 3px #2C7DA1, 0 -1px 3px #2C7DA1;
}

button {
	background: rgba(0, 0, 0, 0.3);
	border: 2px #003054 solid;
	border-radius: 5px;
	color: #BBBBBB;
	text-shadow: -1px 0 2px #323232, 0 1px 2px #323232, 1px 0 2px #323232, 0 -1px 2px #323232;
}

button:hover {
	border-color: #2C7DA1;
	color: #cccccc;
	text-shadow: -1px 0 3px #2C7DA1, 0 1px 3px #2C7DA1, 1px 0 3px #2C7DA1, 0 -1px 3px #2C7DA1;
}

.text-red {
	color: #ffcdd2 !important;
	text-shadow: -1px 0 3px #fc5161, 0 1px 3px #fc5161, 1px 0 3px #fc5161, 0 -1px 3px #fc5161 !important;
}

.text-icon-red {
	color: #660000;
	font-weight: bold;
	text-shadow: -1px 0 3px #fc5161, 0 1px 3px #fc5161, 1px 0 3px #fc5161, 0 -1px 3px #fc5161;
}

.text-icon-green {
	color: #006600;
	font-weight: bold;
	font-weight: 15 !important;
	text-shadow: -1px 0 3px #51fc61, 0 1px 3px #51fc61, 1px 0 3px #51fc61, 0 -1px 3px #51fc61;
}

.flex-5 {
	flex-grow: 5;
}

.flex-10 {
	flex-grow: 10;
}

.flex-15 {
	flex-grow: 15;
}

.flex-20 {
	flex-grow: 20;
}

.flex-30 {
	flex-grow: 30;
}

.display-outline {
	border: 1px red dashed;
}

.float-right {
	float: right;
}