* {
    font-family: Helvetica, Arial, sans-serif;
	color: #cccccc;
	text-shadow: -1px 0 3px #4596ba, 0 1px 3px #4596ba, 1px 0 3px #4596ba, 0 -1px 3px #4596ba;
	font-weight: 300;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

p {
	display: inline;
}

a {
	color: #DED7BE;
	text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
}

a:hover {
	color: #cccccc;
	text-shadow: -1px 0 3px #4596ba, 0 1px 3px #4596ba, 1px 0 3px #4596ba, 0 -1px 3px #4596ba;
}

.text-red {
	color: #ffcdd2 !important;
	text-shadow: -1px 0 3px #fc5161, 0 1px 3px #fc5161, 1px 0 3px #fc5161, 0 -1px 3px #fc5161 !important;
}

.flex-5 {
	flex-grow: 5;
}

.flex-10 {
	flex-grow: 10;
}

.flex-15 {
	flex-grow: 15;
}

.flex-20 {
	flex-grow: 20;
}

.flex-30 {
	flex-grow: 30;
}

.display-outline {
	border: 1px red dashed;
}

.float-right {
	float: right;
}