<div class="overlay-header">
    <div class="overlay-header-group">
        <span class="overlay-header-label">Duration:</span> {{duration}}&nbsp;&nbsp;&nbsp;<span class="overlay-header-label">Total DPS:</span> {{totalDps}}&nbsp;&nbsp;&nbsp;<span class="overlay-header-label">Area:</span> {{area}}
    </div>
    <div class="overlay-header-group float-right">
        [ <a (click)="setLayout('table')">Table</a> | <a (click)="setLayout('dps-bars')">Bars</a> ]
        &nbsp;
        [ <a (click)="setTheme('ffxiv')">FFXIV</a> | <a (click)="setTheme('fflogs')">FFLogs</a> ]
    </div>
</div>