.player-table-row {
	display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
	margin-bottom: 1px;
	padding: 1px 0;
}

.player-table-field {
	white-space: nowrap;
    width: 1px;
    font-size: 15px;
}
.main-player {
	color: #DED7BE;
	text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
}