@import "themes/fflogs.scss";
@import "themes/ffxiv.scss";

.main-player {
    color: #ded7be;
    text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
}

$bars-content-height: 32px;
$bars-content-margin: 2px;
$bars-total-height: $bars-content-height + ($bars-content-margin * 2);

.player-bars {
    .player {
        height: $bars-total-height;
        margin-bottom: 1px;
        font-size: 14px;

        .player-foreground {
            position: relative;
            top: -($bars-total-height);
            margin-top: $bars-content-margin;

            display: flex;
            height: $bars-content-height;
            z-index: 1;

            .dps-container {
                text-align: center;

                .dps-value {
                    position: relative;
                    top: -2px;
                    font-size: 32px;
                }
            }

            .player-class-icon {
                float: left;
                margin-right: 5px;
            }

            .player-icon-row {
                height: 16px;

                p {
                    position: relative;
                    top: -3px;
                }
            }
        }
    }

    .player:last-child {
        margin-bottom: 0px;
    }
}

$table-content-height: 19px;

.player-table {
    .player-table-header {
        display: flex;
        margin-bottom: 1px;
        text-align: center;
        font-size: 12px;

        .player-table-header-field {
            width: 1px;
        }
    }

    .player {
        height: $table-content-height;
        margin-bottom: 1px;

        .player-foreground {
            position: relative;
            top: -($table-content-height);
            
            display: flex;
            text-align: center;

            .player-table-field {
                width: 1px;
            }
        }
    }

    &:last-child {
        margin-bottom: 0px;
    }
}