.loading-placeholder {
	color: white;
	font-style: italic;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.overlay-static {
	background-color: white;
	background-image: url('/assets/handle.png');
	background-position: bottom right;
	background-repeat: no-repeat;
	box-sizing: border-box;
	height: 100%;
	background-color: transparent;
	overflow: hidden;
}

body {
	margin: 0px;
}