.player-table-row {
	display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
	/*border: 1px green solid;*/

	padding: 0px;

	margin-bottom: 1px;
}

.player-table-row span {
	background: linear-gradient(to top, rgba(0,0,0,0.25) 50%,rgba(255,255,255,0.1) 100%);
	background-blend-mode: soft-light;
	background-position: left center;
	background-repeat: no-repeat;
	float: left;
	z-index: -1;
}

.player-table-row div {
	white-space: nowrap;
    text-align: center;
    width: 1px;
    padding: 2px 0 2px 0;
	/*border: 1px red dashed;*/

    font-size: 12px;
    text-align: center;
    flex-grow: 1;
}

.redtext {
	color: #ffcdd2 !important;
	text-shadow: -1px 0 3px #fc5161, 0 1px 3px #fc5161, 1px 0 3px #fc5161, 0 -1px 3px #fc5161 !important;
}

.GLA, .PLD, .MRD, .WAR, .DRK {
	background-color: rgba(41,112,243,0.3);
}

.CNJ, .WHM, .SCH, .AST {
	background-color: rgba(107,240,86,0.3);
}

.PGL, .MNK, .LNC, .DRG, .ARC, .BRD, .ROG, .NIN, .ACN, .SMN, .THM, .BLM, .MCH {
	background-color: rgba(200,3,8,0.3);
}

.CRP, .BSN, .GSM, .LTW, .WVR, .ALC, .CUL, .MIN, .BTN, .FSH {
	background-color: rgba(67,67,67,0.3);
}