<div class="overlay-container" *ngIf="showOverlay" [style.zoom]="config.Scale">
    <div class="overlay-header">
        <div class="overlay-header-group" *ngIf="encounter !== undefined">
            <span class="overlay-header-label">Duration:</span> {{encounter.duration}}&nbsp;&nbsp;&nbsp;
            <span class="overlay-header-label">Total DPS:</span> {{encounter.dps}}&nbsp;&nbsp;&nbsp;
            <span class="overlay-header-label">Area:</span> {{encounter.area}}
        </div>
        <div class="overlay-header-group float-right">
            <a (click)="loadAlliance()" *ngIf="config.Test">[ Test-A ]</a>
            <a (click)="loadParty()" *ngIf="config.Test">[ Test-P ]</a>
            <a (click)="toggleOptions()">[ ⚙ ]</a>
            <a (click)="toggleHide()">[ - ]</a>
        </div>
    </div>
    <hr />
    <div *ngIf="!showOptions" class="player-table-container">
        <div *ngIf="encounter === undefined">
            <p>No data to show.</p>
        </div>
        <div *ngIf="encounter !== undefined">
            <player-header [showTable]="showTable"></player-header>
            <player-detail *ngFor="let player of encounter.players" [player]="player" [showTable]="showTable"></player-detail>
        </div>
    </div>
    <div *ngIf="showOptions">
        <overlay-options></overlay-options>
    </div>
</div>

<div *ngIf="!showOverlay" class="float-right">
    <a (click)="toggleHide()">[ + ]</a>
</div>